
body {
    padding-top: 35px;
    background-color: #d1ccff; /* Offset for the fixed navbar */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav {
    margin-left: auto; /* Align the navbar items to the right */
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.navbar-nav .nav-item .nav-link:hover {
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    transform: scale(1.1);
}

.navbar-nav .dropdown-menu .dropdown-item {
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #555;
    color: #fff;
}

.form-inline {
    margin-right: 20px; /* Add some space between the search form and the nav items */
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ffffff;
    background-color: #343a40;
    border-radius: 5px;
    
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-top: 10px;
    }
    
    .form-inline {
        margin-bottom: 30px;
    }
}



/* Hero Section */
.hero {
    background: linear-gradient(135deg, #e4acdf, #92c4f9); /* Gradient background for a more attractive look */
    color: #d98686;
    text-align: center;
    padding: 30px 0; /* More padding for a better visual effect */
}

.hero h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(219, 48, 48, 0.5); /* Text shadow for better readability */
}

.hero p {
    font-size: 1.0em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

.hero .btn {
    font-size: 1.25em;
    padding: 15px 30px;
    border-radius: 50px; /* Rounded button for a modern look */
    transition: background-color 0.3s, transform 0.3s;
}

.hero .btn:hover {
    background-color: #f8f9fa;
    color: #e79baa;
    transform: scale(1.05); /* Slight scale effect on hover */
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .hero .btn {
        font-size: 1.1em;
        padding: 10px 20px;
    }
}

/* Introduction Section */
.introduction {
    padding: 20px 0;
    background-color: #e8c8e5;
}

.introduction h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #343a40;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.introduction p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.introduction .img-fluid {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .introduction h1 {
        font-size: 2em;
    }

    .introduction p {
        font-size: 1em;
    }
}

/* Footer */
footer {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* White text color */
    padding: 20px 0; /* Padding top and bottom */
    position: absolute; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    height: 50px;
    bottom: 100; /* Stick to the bottom */
}

footer p {
    font-size: 0.9rem; /* Smaller font size for footer text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.0rem; /* Adjusted font size for smaller screens */
    }

    .hero p {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }

    .introduction h2 {
        font-size: 2rem; /* Adjusted font size for smaller screens */
    }

    .introduction p {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }
}

