/* Global Styles */

body {
    font-family: Arial, sans-serif;
    background-color:  #e1e0eb; 
}

.container {
    padding-top: 50px; /* Space from top */
    max-width: 600px; /* Max width of container */
    margin: 0 auto; /* Center container horizontally */
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Card shadow */
    border: none; /* Remove card border */
}

.card-body {
    padding: 20px; /* Padding inside card body */
}

h2 {
    color: #333; /* Heading color */
    margin-bottom: 20px; /* Space below heading */
}

.setting-option {
    margin-bottom: 20px; /* Space between setting options */
}

h4 {
    color: #333; /* Setting title color */
    margin-bottom: 10px; /* Space below setting title */
}

select {
    width: 100%; /* Full width select */
    padding: 8px; /* Padding inside select */
    font-size: 1rem; /* Font size of select */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

/* Back Arrow */
.back-arrow {
    display: inline-block;
    margin-top: 20px;
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
}

.back-arrow:hover {
    text-decoration: underline; /* Underline on hover */
    color: #0056b3; /* Darker color on hover */
}
